@using Microsoft.AspNetCore.Identity;
@model RentHiveOblig.ViewModels.HostingDashBViewModel;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Control";
    var userId = UserManager.GetUserId(User);
    var user = UserManager.FindByIdAsync(userId).Result;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Welcome back @user.Firstname</h1>

<br />
<br />

<!--Should be able to see the users published listings -->
<!--Should be able to go in a published listing and configure-->
<!--If no listings is set on the user, then give different text something like "You do currently not have any listings-->


<div id="Availlistings" class="shadow p-3 mb-5 bg-white rounded" style="overflow-x:auto;">

    <h2>Available Listings</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>

                <!--For the buttons-->
                <th>Created at</th>
                <th></th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model.Eiendoms)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Tittel)</td>
                    <td>@Html.DisplayFor(modelItem => item.Beskrivelse)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>


                    <!--Buttons to edit/delete the listing-->
                    <td><a asp-action="Edit" asp-controller="Eiendoms" asp-route-id="@item.EiendomID" class="btn btn-secondary">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Eiendoms" asp-route-id="@item.EiendomID" class="btn btn-danger">Delete</a></td>

                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Eiendoms" asp-action="Create" class="btn btn-primary">Create a new listing</a>


</div>

<!--Should be able to control reservations/bookings-->

<br />
<br />





<!--  Show pending reservations  -->
<div id="pendingRes" class="shadow p-3 mb-5 bg-white rounded" style="overflow-x:auto;">
    <h2>Pending Reservations:</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Listing</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.PendingBookings)
            {
                <tr>
                    <td>@booking.ApplicationUser.Firstname @booking.ApplicationUser.Lastname</td>
                    <td>@booking.Eiendom.Tittel</td>
                    <td>@booking.StartDate.ToShortDateString()</td>
                    <td>@booking.EndDate.Date.ToShortDateString()</td>
                    <td>@booking.TotalPrice.ToString("# ##0")</td>
                    <td>

                        <form method="post" asp-action="AcceptBooking" asp-controller="Bookings">
                            <input type="hidden" name="bookingId" value="@booking.BookingId" />
                            <button type="submit" class="btn btn-primary">Accept</button>
                        </form>

                        <form method="post" asp-action="DeclineBooking" asp-controller="Bookings">
                            <input type="hidden" name="bookingId" value="@booking.BookingId" />
                            <button type="submit" class="btn btn-danger">Decline</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<!--Show approved reservations-->

<div id="approvedRes" class="shadow p-3 mb-5 bg-white rounded" style="overflow-x:auto;">
    <h2>Approved Reservations:</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Listing</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.ApprovedBookings)
            {
                <tr>
                    <td>@booking.ApplicationUser.Firstname @booking.ApplicationUser.Lastname</td>
                    <td>@booking.Eiendom.Tittel</td>
                    <td>@booking.StartDate.ToShortDateString()</td>
                    <td>@booking.EndDate.ToShortDateString()</td>
                    <td>@booking.TotalPrice.ToString("# ##0")</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!--Show earlier reservations, approved but endDate has past-->

<div id="earlierRes" class="shadow p-3 mb-5 bg-white rounded" style="overflow-x:auto;">
    <h2>Past Reservations:</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Listing</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.EarlierBookings)
            {
                <tr>
                    <td>@booking.ApplicationUser.Firstname @booking.ApplicationUser.Lastname</td>
                    <td>@booking.Eiendom.Tittel</td>
                    <td>@booking.StartDate.ToShortDateString()</td>
                    <td>@booking.EndDate.ToShortDateString()</td>
                    <td>@booking.TotalPrice.ToString("# ##0")</td>
                </tr>
            }
        </tbody>
    </table>
</div>


