@using Microsoft.AspNetCore.Identity;
@model IEnumerable<RentHiveOblig.Models.Eiendom>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Control";
    var userId = UserManager.GetUserId(User);
    var user = UserManager.FindByIdAsync(userId).Result; 
}

@{
 
}

<h1>Welcome back @user.Firstname</h1>

<!--Should be able to see the users published listings -->
<!--Should be able to go in a published listing and configure-->
<!--If no listings is set on the user, then give different text something like "You do currently not have any listings-->

<h2>Your listings</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>

            <!--For the buttons-->
            <th></th>
            <th></th>
        </tr>
    </thead>


    <tbody>
    @foreach(var item in Model)
    {
        <tr>
           <td>@Html.DisplayFor(modelItem => item.Tittel)</td>

           <td>@Html.DisplayFor(modelItem => item.Beskrivelse)</td>



           <!--**       debugging code          **-->
                <td>@Html.DisplayFor(modelItem => item.Bad)</td>
                <td>@Html.DisplayFor(modelItem => item.Soverom)</td>




                <!--Buttons to edit/delete the listing-->
                <td><a asp-action="Edit" asp-controller="Eiendoms" asp-route-id="@item.EiendomID">Edit</a></td>
                <td><a asp-action="Delete" asp-controller="Eiendoms" asp-route-id="@item.EiendomID">Delete</a></td>

        </tr>
    }    
    </tbody>
</table>

<!--Need a button to create listing-->

<a asp-controller="Eiendoms" asp-action="Create" asp-route-id="">Create A New Listing</a>

<!--Should be able to control reservations/bookings-->

<br /><br />

<h2>Pending reservations:</h2>

<!--Get a good overview over status of the different listings-->
