@model IEnumerable<RentHiveOblig.Models.Eiendom>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

<h1>Properties</h1>

<h3>
    <form>
        <button asp-controller="Category" asp-action="Create" type="submit" class="button-search">Create</button>
    </form>
    <a class="button-search" asp-action="Create">Create New</a>
</h3>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tittel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivelse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tittel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beskrivelse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EiendomID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.EiendomID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.EiendomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
