@model IEnumerable<RentHiveOblig.Models.Eiendom>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

<h1>Properties</h1>



@{
    ViewData["Title"] = "Index";
}

<p>
    <form>
        <button asp-controller="Category" asp-action="Create" type="submit" class="button-search">Create</button>
    </form>
    
</p>

<form asp-controller="" asp-action="Index" method="get">
    <p>
        Where do you want to go?: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>




<br>
<br>
<table class="table">
    <thead>
            <tr>
                <th>

                <th>
                        @Html.DisplayNameFor(model => model.Tittel)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PrisPerNatt)
                </th>
                <th></th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                    <img src="@item.Image1" style="height: 100px; width: auto;" alt="image Empty" href="@Url.Content(Path)"
                       >
                             
                    </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Tittel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
            >
                    <td>
                        @Html.DisplayFor(modelItem => item.PrisPerNatt)
                    </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EiendomID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.EiendomID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.EiendomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
