@model IEnumerable<RentHiveOblig.Models.Eiendom>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">


<style>


    #showListings .listing {
        border: 1px solid #e0e0e0;
        padding: 10px;
        margin: 10px;
        height: 400px;
        width: 250px;
        float: left; /* This allows horizontal scrolling */
    }

    #showListings .listing-description {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    #showListings .listing-price {
        font-size: 18px;
    }


    #showListings .listing img {
        height: 195px;
        width: 225px;
        object-fit: cover;
    }



</style>



<h1>
    Properties @using (Html.BeginForm())
    {
        
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" placeholder="Your destination" />
        
    }
</h1>



<div class="container" id="showListings">


@foreach(var item in Model)
{
    <div class="listing">
        <img src="@item.Image1" alt="Listing Image">
        <p class="listing-title">@item.Tittel</p>
        <p class="listing-description">@item.Beskrivelse</p>
        <p class="listing-price">@item.PrisPerNatt.ToString("# ##0") NOK</p>
    </div>
}


</div>