@using Microsoft.EntityFrameworkCore
@model RentHiveOblig.Models.Eiendom


@{
    ViewData["Title"] = Model.Tittel; 
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!---------

Code Plan: 

How it will look: 

Title
Address

Pictures (one bigger than the other two)


Name and some information about the host?

The property description.

Information about the property, bathroom, bedrooms and etc. 


//Calender maybe? 

//Reviews mayube

----->
<div class="ListingDetails">
    <div class="DetailText">

        <h1>@Model.Tittel</h1>
        <p>@Model.City, @Model.Country</p>
        <img src="/@Model.Image1"/>
        <img src="/@Model.Image2"/>
        <img src="/@Model.Image3"/>

        <div class="descrptionText">
            <p>Description</p>
            <p>@Model.Beskrivelse</p>
        </div>
        <!-- This is possible to add, but commented out for now!
        <div class="facilities">
            <h1>This place has following offers</h1>
            <ul>
                <li>Animals Allowed</li>
                <li>Kitchen</li>
                <li>Mountain view</li>
            </ul>
        </div>
        -->
        <div class="abtHost">
            <h1>This Hive is hosted By:@Model.ApplicationUser.Firstname</h1>
            <h1>This is your host!</h1>
            <h1>@Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname</h1>
            <!--Maybe some information about the person listing the property?--->
            <p>@Model.Reviews</p>
        </div>


    </div>
    
    

</div>



<container>

    <!-----             TEMPORARILY DO NOT DELETE               ---->
    <div>

        <br />
        <br />
        <br />
    <form>

        <h2>THIS WILL BE THE FORM. TEMPORARILY TEXT. </h2>

        <p>@Model.PrisPerNatt NOK per night </p>
        
        <div class="availability">
            <p>Date from</p>
            <input type="date" id="date" />

            <p>Date to</p>
            <input type="date" />
        </div>


        <!--Showing what the total price will be (PrisPerNatt x HowManyNights (gets it by calender)---->



        <p>Total price @(Math.BigMul((int)Model.PrisPerNatt, 5)) NOK</p> <!--Just temp! showing total with 5 nights-->
        <input type="hidden"  />
    

        <button type="submit" class="btn btn-primary">Book now</button>


    </form>


    </div>




</container>







