@using Microsoft.EntityFrameworkCore
@model RentHiveOblig.Models.Eiendom


@{
    ViewData["Title"] = Model.Tittel;
}



@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!---------

Code Plan:

How it will look:

Title
Address

Pictures (one bigger than the other two)


Name and some information about the host?

The property description.

Information about the property, bathroom, bedrooms and etc.


//Calender maybe?

//Reviews mayube

----->
<!-- Page Content -->
<div class="container shadow p-3 mb-5 bg-white rounded">

    <!-- Heading -->
    <h1 class="my-4">
        @Model.Tittel
        <h2>@Model.City, @Model.Country</h2>
    </h1>
    
    <!--Image grid-->
    <div class="image-grid">
        <img class="image-grid-col-2 image-grid-row-2" src="@Model.Image1" alt="">
        <img class="img-fluid" src="@Model.Image2" alt="">
        <img class="img-fluid" src="@Model.Image3" alt="">
    </div>
    <!--Description-->
    <div class="row">
        <h2 class="col-sm">Beehive description</h2>
        <p>
            @Model.Beskrivelse.
        </p>
        <h2 class="col-sm">Queen Bee Description</h2>
        <h2>@Model.ApplicationUser.Firstname</h2>
    </div>

    <div>

        <br />
        <hr />
        <br />

        <h2>Book your trip</h2>

        <form asp-action="SendToBooking" asp-controller="Bookings" id="SendToBooking">
            <p id="pricePerNight">@Model.PrisPerNatt NOK per night </p>

            <div class="availability">
                <p>Date from</p>
                <input type="date" id="startDate" name="startTime" />
                <p>Date to</p>
                <input type="date" id="endDate" name="endTime" />

            </div>

            <!-- Add hidden fields for eiendomId and totalPrice -->
            <input type="hidden" name="eiendomId" value="@Model.EiendomID" />
            <input type="hidden" name="totalPrice" id="totalPriceHiddenField" />
            <input type="hidden" name="diffDays" id="diffDays" />

            <p>Total price <span id="totalPrice"> </span> NOK</p>
            <button type="submit" class="btn btn-primary">Book now</button>
        </form>


    </div>

</div>



<script>

    //Calculating the total price, making it change dynamically by the date inputs.




    function calculateDayDifference() {

        //Getting the value of start and end date.
        var startDate = new Date(document.getElementById("startDate").value);
        var endDate = new Date(document.getElementById("endDate").value);

        //Caluclating difference
        //Inspired by: https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript

        var timeDifference = endDate.getTime() - startDate.getTime();
        var diffDays = Math.ceil(timeDifference / (1000 * 3600 * 24));


        return diffDays;
    }


    function calculateTotalPrice() {

        var diffDays = calculateDayDifference();

        console.log("DiffDays chosen is ", diffDays);
        const pricePerNight = parseInt(document.getElementById("pricePerNight").textContent);
        var totalPrice = diffDays * pricePerNight;

        //If check-in and check-out are the same day.
        if (diffDays === 0) {
            totalPrice = pricePerNight;
            document.getElementById("totalPrice").textContent = totalPrice;
            document.getElementById("totalPriceHiddenField").value = totalPrice;
            document.getElementById("diffDays").value = diffDays;

        }
        else if (diffDays > 0) {
            document.getElementById("totalPrice").textContent = totalPrice;
            document.getElementById("totalPriceHiddenField").value = totalPrice;
            document.getElementById("diffDays").value = diffDays;
        }

        //If startDate > enddate
        else {
            document.getElementById("totalPrice").textContent = "Invalid";
            
        }
    }


    document.getElementById("startDate").addEventListener("change", calculateTotalPrice);
    document.getElementById("endDate").addEventListener("change", calculateTotalPrice);


</script>
