@using Microsoft.EntityFrameworkCore
@model RentHiveOblig.Models.Eiendom


@{
    ViewData["Title"] = Model.Tittel; 
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!---------

Code Plan: 

How it will look: 

Title
Address

Pictures (one bigger than the other two)


Name and some information about the host?

The property description.

Information about the property, bathroom, bedrooms and etc. 


//Calender maybe? 

//Reviews mayube

----->
<div class="ListingDetails">
    <div class="DetailText">

        <h1>@Model.Tittel</h1>
        <p>@Model.City, @Model.Country</p>
        <img src="/@Model.Image1"/>
        <img src="/@Model.Image2"/>
        <img src="/@Model.Image3"/>

        <div class="descrptionText">
            <p>Description</p>
            <p>@Model.Beskrivelse</p>
        </div>
        <!-- This is possible to add, but commented out for now!
        <div class="facilities">
            <h1>This place has following offers</h1>
            <ul>
                <li>Animals Allowed</li>
                <li>Kitchen</li>
                <li>Mountain view</li>
            </ul>
        </div>
        -->
        <div class="abtHost">
            <h1>This Hive is hosted By:@Model.ApplicationUser.Firstname</h1>
            <h1>This is your host!</h1>
            <h1>@Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname</h1>
            <!--Maybe some information about the person listing the property?--->
            <p>@Model.Reviews</p>
        </div>


    </div>
    
    

</div>



<container>

    <!-----             TEMPORARILY DO NOT DELETE               ---->
    <div>

        <br />
        <br />
        <br />


    <form id="sendToBooking">

        <h2>THIS WILL BE THE FORM. TEMPORARILY TEXT. </h2>

        <p id="pricePerNight">@Model.PrisPerNatt NOK per night </p>
        

        <div class="availability">
            <p>Date from</p>
            <input type="date" id="startDate" />

            <p>Date to</p>
            <input type="date" id="endDate" />
        </div>


        <!--Showing what the total price will be (PrisPerNatt x HowManyNights (gets it by calender)---->



            <p>Total price <span id="totalPrice"> </span> NOK</p> <!--Just temp! showing total with 5 nights-->


        <button type="submit" class="btn btn-primary">Book now</button>


    </form>


    </div>




</container>




<script>

    //Calculating the total price, making it change dynamically by the date inputs.




    function calculateDayDifference() {

        //Getting the value of start and end date.
        var startDate = new Date(document.getElementById("startDate").value);
        var endDate = new Date(document.getElementById("endDate").value);

        //Caluclating difference
        //Inspired by: https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript

        var timeDifference = endDate.getTime() - startDate.getTime();
        var diffDays = Math.ceil(timeDifference / (1000 * 3600 * 24));


        return diffDays;
    }

    
    function calculateTotalPrice() {

        var diffDays = calculateDayDifference(); 

        console.log("DiffDays chosen is ", diffDays);
        const pricePerNight = parseInt(document.getElementById("pricePerNight").textContent);
        var totalPrice = diffDays * pricePerNight;

        //If check-in and check-out are the same day.
        if (diffDays === 0) {
            totalPrice = pricePerNight;
            document.getElementById("totalPrice").textContent = totalPrice;
        }
        else if (diffDays > 0) {
            document.getElementById("totalPrice").textContent = totalPrice;
        }

        //If startDate > enddate
        else {
            document.getElementById("totalPrice").textContent = "Invalid";
        }
    }


    document.getElementById("startDate").addEventListener("change", calculateTotalPrice);
    document.getElementById("endDate").addEventListener("change", calculateTotalPrice);


</script>






