@model RentHiveOblig.Models.Eiendom


@{
    ViewData["Title"] = Model.Tittel; 
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!---------

Code Plan: 

How it will look: 

Title
Address

Pictures (one bigger than the other two)


Name and some information about the host?

The property description.

Information about the property, bathroom, bedrooms and etc. 


//Calender maybe? 

//Reviews mayube

----->
<div class="ListingDetails">
    <div class="DetailText">
        <h1>Title</h1>
        <p>Adress</p>
        <img src="~/images/house_4_s1.jpg" alt="Listing Image">
        <div class="descrptionText">
            <p>Description</p>
            <p>Ant gjester, soverom, ant seng</p>
        </div>
        <div class="facilities">
            <h1>This place has following offers</h1>
            <ul>
                <li>Animals Allowed</li>
                <li>Kitchen</li>
                <li>Mountain view</li>
            </ul>
        </div>
        <div class="abtHost">
            <h1>Name of user</h1>
            <p>This user is a superhost!</p>
            <p>Ratings</p>
        </div>
        <div class="availabilty">
            <h1> Your Hive is available for these dates, buzzz... </h1>
            <label for="start">Start date:</label>

            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"/>

        </div>
        
        <div class="reviews">reviews</div>

    </div>
    
    

</div>





<container>


    <div>
        <!--Title & Address--->

        <h1>@Model.Tittel</h1>
        <p>@Model.City, @Model.Country</p>


    </div>


    <div>
        <!-- Pictures --->
       
        <img src="/@Model.Image1"/>
        <img src="/@Model.Image2" />
        <img src="/@Model.Image3" />

    </div>



    <div>
        <h4>Hosted by</h4>
        <p>@Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname </p>
       
        <!--Maybe some information about the person listing the property?--->

    </div>



    <div>

        <h4>More about the property</h4>

        <p>@Model.Beskrivelse</p>

    </div>





    <!-----             TEMPORARILY DO NOT DELETE               ---->
    <div>
    
        <p>@Model.PrisPerNatt NOK per night </p>
        
        <!--MAYBE CALENDER HERE-->
        <p></p>

        <!--Showing what the total price will be (PrisPerNatt x HowManyNights (gets it by calender)---->

        <p>Total price @(Math.BigMul((int)Model.PrisPerNatt, 5))</p> <!--Just temp! showing total with 5 nights-->
    

        <!--Should be a form!--->

        <button type="submit" class="btn btn-primary">Book now</button>

    </div>




</container>







