@using Microsoft.EntityFrameworkCore
@model RentHiveOblig.Models.Eiendom


@{
    ViewData["Title"] = Model.Tittel; 
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!---------

Code Plan: 

How it will look: 

Title
Address

Pictures (one bigger than the other two)


Name and some information about the host?

The property description.

Information about the property, bathroom, bedrooms and etc. 


//Calender maybe? 

//Reviews mayube

----->

<!-- Page Content -->
<div class="container shadow p-3 mb-5 bg-white rounded">

    <!-- Heading -->
    <h1 class="my-4">@Model.Tittel
        <small>@Model.City, @Model.Country</small>
    </h1>
<div class="image-grid">
    <img class="image-grid-col-2 image-grid-row-2"  src="@Model.Image1" alt="">
    <img class="img-fluid" src="@Model.Image1" alt="">
    <img class="img-fluid" src="@Model.Image1" alt="">
</div>
    <!-- TEMP WILL DELETE SOON 
        <div class="col-md-5">
            <img class="img-fluid" src="@Model.Image1" alt="">
        </div> -->
        <div class="col-md-4">
            <h3 class="my-3">Beehive description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. 
                Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3 class="my-3">Queen Bee Description</h3>
            <small>@Model.ApplicationUser.Firstname</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        </div>
</div>
<!-- /.container -->




<br />
<br />
<br />


    <!-----            DO NOT DELETE    !THIS IS THE FORM!           ---->
    <div>



        <p id="pricePerNight">@Model.PrisPerNatt NOK per night </p>


        <form id="SendToBooking" method="post" asp-action="bookingRequest" asp-controller="Booking">

            <input type="hidden" id="eiendomId" name="eiendomId"/>


            <div class="form-group">
                <label for="startDate">Date from</label>
                <input type="date" name="startDate" id="startDate" />
            </div>

            <div class="form-group">
                <label for="endDate">Date to</label>
                <input type="date" name="endDate" id="endDate" />
            </div>

            <div>
                <input type="hidden" id="totalPrice" name="totalPrice" />
            </div>

<<<<<<< HEAD
        <button type="submit" class="btn btn-primary">Book now</button>
    </form>
=======
            <!-- Showing what the total price will be (PrisPerNatt x HowManyNights (gets it by calendar) -->
            <p>Total price <span id="totalPrice"> </span> NOK</p> <!-- Just temp! showing total with 5 nights -->

            <button type="submit" class="btn btn-primary">Book now</button>
    </form>

>>>>>>> 9f8c74fe78fe2792821c6ba60b4857d1971dd8ec

    </div>




<<<<<<< HEAD
</container>
=======


>>>>>>> 9f8c74fe78fe2792821c6ba60b4857d1971dd8ec
<script>

    //Calculating the total price, making it change dynamically by the date inputs.




    function calculateDayDifference() {

        //Getting the value of start and end date.
        var startDate = new Date(document.getElementById("startDate").value);
        var endDate = new Date(document.getElementById("endDate").value);

        //Caluclating difference
        //Inspired by: https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript

        var timeDifference = endDate.getTime() - startDate.getTime();
        var diffDays = Math.ceil(timeDifference / (1000 * 3600 * 24));


        return diffDays;
    }

    
    function calculateTotalPrice() {

        var diffDays = calculateDayDifference(); 

        console.log("DiffDays chosen is ", diffDays);
        const pricePerNight = parseInt(document.getElementById("pricePerNight").textContent);
        var totalPrice = diffDays * pricePerNight;

        //If check-in and check-out are the same day.
        if (diffDays === 0) {
            totalPrice = pricePerNight;
            document.getElementById("totalPrice").textContent = totalPrice;
        }
        else if (diffDays > 0) {
            document.getElementById("totalPrice").textContent = totalPrice;
        }

        //If startDate > enddate
        else {
            document.getElementById("totalPrice").textContent = "Invalid";
        }
    }


    document.getElementById("startDate").addEventListener("change", calculateTotalPrice);
    document.getElementById("endDate").addEventListener("change", calculateTotalPrice);


</script>






