@using Microsoft.AspNetCore.Identity;
@model RentHiveOblig.ViewModels.BookingRequestViewModel;
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Confirm Booking";

    var userId = UserManager.GetUserId(User);
    var user = UserManager.FindByIdAsync(userId).Result;
}


<div class="container">
    <h1>Request Booking</h1>

    <p>Confirm your selection below. The booking request will be sent to your host.</p>
    <p>Once the host confirms the booking and payment is finished, then you are allowed to stay at their home!</p>

    <form asp-action="SendBookingRequest" method="post">
        <div class="row">
            <hr />
            <!------------  Left column ----------->
            <div class="col-md-4" id="tripDetails">
                <h2>Trip Details</h2>
                <p>Dates chosen</p>

                <div id="dateInputs">
                    <input type="date" asp-for="Booking.StartDate" />
                    <input type="date" asp-for="Booking.EndDate" />
                </div>
                <hr />
                <p>Information about you </p>
                <p>Name: @(user.Firstname + " " + user.Lastname) </p>
                <p>Email: @user.Email</p>
            </div>

            <!----  Middle column ---->
            <div class="col-md-4" id="listDetails">
                <p>@Model.Eiendom.Tittel</p>
                <p>@Model.Eiendom.Country, @Model.Eiendom.City</p>
                <hr />
                <h3>Price</h3>
                <p>@Model.Eiendom.PrisPerNatt.ToString("# ##0") NOK  X  @Model.Booking.QuantityDays nights</p>
                <hr />
                <p>Total @Model.Booking.TotalPrice.ToString("# ##0") NOK</p>



                <input type="hidden" name="PropertyId" value="@Model.Booking.EiendomId" />
                <input type="hidden" asp-for="Booking.GuestId" />
                <input type="hidden" asp-for="Booking.EiendomId" />
                <input type="hidden" asp-for="Booking.TotalPrice" />
                <input type="hidden" asp-for="Booking.BookingStatus" />
                <input type="hidden" asp-for="Booking.QuantityDays" />
                
                <div>@Model.Booking.EiendomId</div>

                <button type="submit" class="btn btn-primary">Request Booking</button>

            </div>
    </form>

            <!----  Right column ---->
            <div class="col-md-4" id="imageDetails">
                <div class="row" id="listDetails">
                    <img class="img-responsive" src="@Model.Eiendom.Image1" />
                </div>
            </div>
</div>
       