@model IEnumerable<Eiendom>

@{
    ViewData["UseCustomHeader"] = true;
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RentHiveOblig.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-image: url('/images/cabin2.png');
        background-size: cover;
        text-align: center;
        padding: 20px 20px;
        height: 70vh;
    }

    #search-section {
        display: flex;
        justify-content: center;
        padding: 5rem 0;
    }

    #destination {
        padding: 10px;
        font-size: 16px;
        width: 300px;
    }

    #date {
        padding: 10px;
        font-size: 16px;
        width: 200px;
    }



    #featured-listings .listing {
        border: 1px solid #e0e0e0;
        padding: 10px;
        margin: 10px;
        height: 400px;
        width: 250px;
        float: left; /* This allows horizontal scrolling */
    }

    #featured-listings .listing-description { 
            font-size: 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

    #featured-listings .listing-price {
        font-size: 18px;
    }


    #featured-listings .listing img {
            height: 195px;
            width: 225px;
            object-fit: cover;
        }


    #mainCenterText {
        color: #fff;
    }



    .navbar {
        /*background-color: transparent !important;*/
        border: none !important;
    }


    .nav-link {
        color: #fff !important;
    }

        /* Changing the link color to a lighter shade when hovered */
        .nav-link:hover {
            color: #ddd !important;
        }

    /* Styling the navbar brand (website name/logo) */
    .navbar-brand {
        color: #fff !important;
        font-weight: bold;
    }

    /* Changing the color of the navbar-toggler icon (for mobile view) */
    .navbar-toggler-icon {
        filter: invert(100%) !important; /* Inverting the colors to make it white */
    }

</style>


@section CustomHeader {

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 ">

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RentHive</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

        <div class="text-center" id="mainCenterText">
            <h1 class="display-4 mainText">Welcome to RentHive</h1>
            <h2>Buzz off to your next destination.</h2>
        </div>

        


        <section id="search-section">
             @using (Html.BeginForm("", "Eiendoms", FormMethod.Post))
            {

                @Html.TextBox("SearchString")
                <input type="submit" value="Search" placeholder="Your destination" class="btn-primary" style="background-color:white; color:black; border-color: white; font-family: comfortaa;" />

            }

        
        </section>

    </header>
    }

<div class="container">

    <!---Maybe new listings will be the "featured listings" just to showcase that it works.
        Otherwise, it would make sense that listings with higher rating gets shown here.
    --->

    <section id="featured-listings">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="listing">
                    <img src="@item.Image1" alt="Listing Image">
                    <p class="listing-title">@item.Tittel</p>
                    <p class="listing-description">@item.Beskrivelse</p>
                    <p class="listing-price">@item.PrisPerNatt.ToString("# ##0") NOK</p>
                    <a asp-action="listingDetails" asp-controller="Eiendoms" asp-route-id="@item.EiendomID"> More</a>
                </div>
            }
        }
        else
        {
            <h2 style="margin-top: 5%;">No items available for display.</h2>
        }
    </section>

</div>

